body {
    background: url('img/Mount_Tambora_Volcano,_Sumbawa_Island,_Indonesia.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }