body {
    background: url('media/tiff/1_Vulkan.tiff') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'PT Serif', serif;
  }


  .mainTitle{
    color: white;
    text-align: center;
  }
